eventlet
Flask
Flask-Login
Flask-MySQLdb
Flask-SocketIO
langgraph>=0.2.0
mysqlclient
numpy>=1.26.0
ollama
openai>=1.30.0
openpyxl
pandas
PyMuPDF
python-doctr[torch]
python-docx
python-dotenv
requests
sentence-transformers
streamlit
tiktoken
torch
Werkzeug
xlsxwriter